* {
  box-sizing: border-box;
}

body {
  margin: 50px;
  background-image: linear-gradient(to bottom right, #111111, #424848e8);
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Navigation Menu */
#navBar {
  background-color: rgb(233, 200, 37);
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
#navBar h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(43, 36, 81);
  text-align: center;
  padding-left: 40px;
}
#navBar a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding-left: 8px;
  color: white;
}
#navBar a:hover {
  color: cornflowerblue;
}
#menu {
  padding-right: 100px;
}

/* Define the main layout of the body and style of the grid */
.page-wrapper {
  display: grid;
  grid-template-rows: 300px 700px 100px;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    "about about-content"
    "work nested-workGrid"
    "contact mail";
}
.page-section {
  border-right: 3px solid rgb(233, 200, 37);
  margin: 10px 10px;
  text-align: right;
  padding-inline-end: 10px;
  text-align: right;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  min-width: 100px;
  color: grey;
}
.page-section h2 {
  font-size: 18px;
}

/* ABOUT section */
#about {
  grid-area: about;
}
#about-content {
  grid-area: about-content;
  display: flex;
  margin: 10px 20px;
}
#about-content h2 {
  background-color: antiquewhite;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
#job-description {
  padding-top: 50px;
}
#story {
  margin: 20px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: grey;
}

/* WORK section*/
#work {
  grid-area: work;
}

#nested-workGrid {
  display: grid;
  margin: 10px 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas:
    "cgi1 cgi1 cgi1"
    "cgi2 cgi3 cgi4"
    "cgi5 dev1 dev2";
}
#cgi1 {
  grid-area: cgi1;
  background-image: url("../images/cgi001_sml.jpg");
  background-position: bottom;
}
#cgi2 {
  grid-area: cgi2;
  background-image: url("../images/cgi002_sml.jpg");
}
#cgi3 {
  grid-area: cgi3;
  background-image: url("../images/cgi003_sml.jpg");
}
#cgi4 {
  grid-area: cgi4;
  background-image: url("../images/cgi004_sml.jpg");
}
#cgi5 {
  grid-area: cgi5;
  background-image: url("../images/cgi005_sml.jpg");
}
#dev1 {
  grid-area: dev1;
  background-image: url("../images/SAM_original.jpg");
}
#dev2 {
  grid-area: dev2;
  background-image: url("../images/data-visualization.jpg");
}
.workGridArea {
  margin: 2px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: grid;
  align-content: end;
}
.workGridArea:hover {
  opacity: 0.7;
}
.heading {
  color: white;
  text-align: center;
  align-items: end;
}

/* CONTACT section*/
#contact {
  grid-area: contact;
}
#mail {
  grid-area: mail;
  align-items: center;
  margin: 30px 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align: left;
  color: white;
}
#mail a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 8px;
  color: grey;
}
#mail a:hover {
  color: cornflowerblue;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 769px) {
  body {
    margin: 0;
  }
  #navBar {
    display: flex;
    flex-direction: column;
  }
  #navBar h1 {
    font-size: medium;
    padding-left: 0;
  }
  #menu {
    font-size: 11px;
    padding-right: 0;
    align-items: center;
  }
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 150px 50px 2000px 50px 150px;
    grid-template-areas:
      "about"
      "about-content"
      "work"
      "nested-workGrid"
      "contact"
      "mail";
  }
  #about,
  #work,
  #contact {
    text-align: left;
  }
  .page-section {
    border-bottom: 3px solid rgb(233, 200, 37);
    border-right: none;
    align-items: center;
    justify-items: center;
  }

  #about-content {
    padding-right: 0px;
  }
  #about-content h2 {
    margin: 0px 5px;
  }
  #about-content img {
    height: 130px;
  }
  #job-description {
    padding-left: 0px;
    padding-top: 0px;
    padding: 0px 0px;
  }
  #story {
    font-size: 11px;
  }

  #nested-workGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "cgi1"
      "cgi2"
      "cgi3"
      "cgi4"
      "cgi5"
      "dev1"
      "dev2";
  }
}
